<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="resolution" value="800x600" />
    <add key="fullscreen" value="false" />
    <add key="musicVolume" value="0,3" />
    <add key="effectsVolume" value="0,6" />
  </appSettings>
  <system.web>
    <trust level="Full" />
    <webControls clientScriptsLocation="/aspnet_client/{0}/{1}/" />
  </system.web>
</configuration>